node_modules
web/public
*.cfg
.vagrant
music
*.mp3
*.m3u
#logs
logs/*.log*
web/*.log*
.tmp
dist
npm-debug.log
node_modules
downloaded
docular_generated
.idea/
storage/
.strong-pm
.sass-cache
providers.json
bower_components
docs
client/coverage
.vagrant
/.project
.cache
.config
.npm
.env*
client/lib/lb-services.js
.vscode