.as-sortable-item, .as-sortable-placeholder {
}

.as-sortable-item {

    background-color: #ffffff;
}

.as-sortable-item-handle {
}

.as-sortable-placeholder {
    border: 1px dashed darkgrey;
    box-sizing: border-box;
    width: 100%;
    background-color: #dbdbdb;
}

.as-sortable-drag {
    opacity: .8;
    position: absolute!important;

}

.as-sortable-hidden {
}

#grid-container {
  display: inline-block;
}

.playlist-container{
  height: 1200px;
  position: relative;
  background: url(./schedule.jpg) 50%;
  background-size: cover;
}

.playlist-item {
  border-top: 2px solid black;
  opacity: 0.7;
}

.calendar {
  position: relative;
  top: -7px;
}

.no-files {
  position: relative;
  top: 50%;
  bottom: 50%;
}

.list-group-item {
  color: red;
}

.track-list {
  max-height: 1200px;
  overflow-y: scroll;
}
