<div id="grid-container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Files
          <span class="pull-right btn-group">
            <button class="btn btn-xs btn-success" ng-click="ctrl.scanDir()">
              <i class="fa fa-refresh"></i>
            </button>
            <label class="btn btn-xs btn-success fa fa-plus">
              <input multiple type="file" style="display: none;" nv-file-select uploader="ctrl.uploader"/>
            </label>
          </span>
        </div>
        <div class='list-group track-list' ng-model="ctrl.storage.tracks">
          <div ng-repeat="item in ctrl.uploader.queue">
            <strong>{{ item.file.name }} :</strong></td>
            <div class="progress" style="margin-bottom: 0;">
              <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
            </div>
          </div>
          <div ng-repeat="item in ctrl.tracks">
            <span class="pull-right btn-group">
              <button class="btn btn-xs btn-warning" ng-click="ctrl.deleteTrack(item)">
                <i class="fa fa-trash"></i>
              </button>
              <button class="btn btn-xs btn-default" ng-click="ctrl.addItemToPlaylist(item)">
                <i class="fa fa-arrow-right"></i>
              </button>
            </span>

            <h4 class="list-group-item-heading">
              <span class="track-duration">{{ctrl.moment().startOf('day').add(item.duration, 's').format('HH:mm:ss')}} - </span>

              <strong>{{item.name}}</strong>
            </h4>
          </div>
          <div ng-show="!ctrl.tracks.length" class="list-group-item">
            <h4 class="list-group-item-heading" translate>
              There are no files
            </h4>

            <p class="list-group-item-text" translate>Click<a href="" ui-sref="^.add">here</a> to add a file!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            Plalist: {{ctrl.time}}
            <div class="col-md-10 pull-right calendar">
              <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{ctrl.format}}" ng-model="ctrl.dt" disabled="true" is-open="ctrl.opened"
                  show-button-bar="false" datepicker-options="ctrl.dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="ctrl.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                  <button ng-click="ctrl.play()" class="btn btn-default" >
                    <i class="fa fa-play"></i>
                  </button>
                  <button ng-click="ctrl.stop()" class="btn btn-default" >
                    <i class="fa fa-stop"></i>
                  </button>
                  <button ng-click="ctrl.refresh()" class="btn btn-default" >
                    <i class="fa fa-refresh"></i>
                  </button>
                  <button ng-click="ctrl.clearPlaylist(ctrl.playlist)" class="btn btn-danger" >
                    <i class="glyphicon glyphicon-remove"></i>
                  </button>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class='list-group'>
          <div ng-repeat="item in ctrl.playlist" class="playlist-item">
            <span class="pull-right btn-group">
              <button class="btn btn-xs btn-default" ng-click="ctrl.delete(item)">
                <i class="fa fa-trash"></i>
              </button>
            </span>
            <h4 class="list-group-item-heading">
              <strong>{{item.index}}</strong>.
              <strong>{{ctrl.formatTime(item.startTime)}}</strong> -
              <strong>{{ctrl.formatTime(item.endTime)}}</strong>
              <strong>{{item.name}}</strong>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>