.sponsor-row
  ul.sponsor-list
    if brands
      each val in brands
        li
          img.sponsor(src=val)
  span.copyright
    img(src="img/copyright.svg")
.preload-01
.preload-02
img(src='img/ky-logo.jpg').hidden-logo