{
  "plugins": [
    "eslint-plugin-jasmine"
  ],
  "extends": [
    "plugin:jasmine/recommended"
  ],
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jasmine": true
  },
  "rules": {
    "space-before-function-paren": 0,
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "no-var": 1,
    "padded-blocks": 0,
    "prefer-arrow-callback": [
      "error",
      {
        "allowNamedFunctions": true
      }
    ],
    "prefer-template": 1
  },
  "parserOptions": {
      "sourceType": "module"
  }
}
